// main: ../style.less

.about {
	// min-width: 717px;
	display: flex;
	flex-direction: column;

	margin: 12rem auto;

	font-family: @headline;

	@media (max-width: 1024px){
		margin-bottom: 5rem;
		margin: 0;
	}
}

.about__text {
	max-width: 60rem;
	margin: 0 auto; 
	margin-bottom: 5.8rem;


	text-align: center;

	font-size: 30px;
	color: @greenText;

	@media (max-width: 1024px){
		margin-bottom: 3rem;	
	}

	@media (max-width: 480px){
		font-size: 2.3rem;	
		line-height: 2.8rem;
	}
}

.about__list {
	margin: 0 auto;

	@media (max-width: 400px) {
		display: none;
	}
}

.about__inner {
	display: flex;

	@media (max-width: 1024px){
		flex-direction: column;
		width: 100%;
	}

	@media (max-width: 480px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

.about__item {
	display: flex;
	flex-direction: column;

	width: 34rem;

	padding: 0;
	text-align: center;
	
	font-size: 15px;
	font-family: @text;
	color: rgba(@greenText, .7) ;
	line-height: 24px;
	
	position: relative;
	
	align-items: center;

	@media (max-width: 1024px){
		margin-bottom: 2rem;
		width: 100%;

		display: flex;
		flex-direction: row;
	}

	@media (max-width: 480px){
		flex-direction: column;
		line-height: inherit;
		position: static;
	}

	& div {
		padding: 0;
		display: flex;
		width: 4.8rem;
		height: 4.8rem;

		align-items: center;
		justify-content: center;

		border-radius: 100%;

		background-color: @greenItem;
		color: @white;

		margin-bottom: 2rem;

		&.no-line {
			&:after {
				opacity: 0;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 40px;
    		left: 24rem;

			float: right;

			width: 176px;
			height: 1px;
			background-color: rgba(@greenItem, .2);

	
		}

		@media (max-width: 1024px){
			margin-right: 2rem;

			&:after {
				opacity: 0;
			}
		}

		@media (max-width: 480px) {
			margin-right: 0;
		}
	}
}