// main: ../style.less

.container {
	padding: 0 6.4rem; // default
}

.container--about {
	padding: 12rem 62rem; // default
}

.container--tablet {
	padding: 0 6.4rem;

	@media (max-width: 860px) {
		padding: 0 2.4rem;
	}
}

.container--none {
	padding: 0;
}